h1 {
    background-color: blue;
    padding: 10px 0 20px 0;
    background-image: linear-gradient(90deg, #3b6ec4, #230455);
}


/* City Search */

.city-search h2 {
    margin: 10px 0;
}

.city-search input {
    margin: 10px 0;
}
.city-search button {
    margin: 10px 0;
}
#main-search-button {
    background-color: #5aa2e9;
}

#search-history {
    border-top: 1px solid grey;
    margin: 10px 0;
    padding-top: 10px;
}

/* Search History */
.history-button {
    color: white;
    background-color: #b7b7b7;
}

/* Current Weather Display */
.current-weather {
    margin-top: 10px;
    margin-bottom: 10px;
}

.current-weather h2 {
    display: inline-block;
}

#uv-span {
    padding: 5px;
}

.low {
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.high {
    background-color: orange;
}

.very-high {
    background-color: red;
}

.extreme {
    background-color: violet;
}


/* Forecast Cards */
.forecast h3 {
    margin: 10px 0;
}

.forecast-card {
    background-color: #33475a;
}